<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceTask1" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IServiceTask2" sendTimeout="00:05:00"  />
                <binding name="BasicHttpBinding_IServiceTask3" sendTimeout="00:05:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://at2alb-87734478.us-east-1.elb.amazonaws.com/Nano/ServiceTask.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTask1" contract="ServiceReferenceSmall.IServiceTask"
                name="BasicHttpBinding_IServiceTask1" />
            <endpoint address="http://at2alb-87734478.us-east-1.elb.amazonaws.com/Micro/ServiceTask.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTask2" contract="ServiceReferenceLarge.IServiceTask"
                name="BasicHttpBinding_IServiceTask2" />
            <endpoint address="http://at2alb-87734478.us-east-1.elb.amazonaws.com/Small/ServiceTask.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTask3" contract="ServiceReferenceExLarge.IServiceTask"
                name="BasicHttpBinding_IServiceTask3" />
        </client>
    </system.serviceModel>
</configuration>
